:root {
  --lightcolor: #ecf2f2;
  --whitecolor: #ffffff;
  --bordercolor: #ececed;
  --blackcolor: #000000;
}

body {
  position: relative;
  direction: ltr;
  background-color: papayawhip;
}

.container {
  padding: 75px 0 0 0;
  max-width: 1520px;
}

.content-main {
  position: relative;
}

.Desserts-page .products {
  position: relative;
}

.Desserts-page .products .title-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Desserts-page .products .title-main > h1 {
  color: var(--blackcolor);
  font-weight: 700;
  font-size: 52px;
  margin: 0;
}

.Desserts-page .products .row {
  margin-top: 50px;
}

.Desserts-page .products .item-prd .box-item {
  margin-bottom: 30px;
  background-color: papayawhip;
  border: none;
  border-radius: 30px;
  width: 100%;
  height: 480px;
  overflow: hidden;
  transition: all 0.3s;
  padding: 20px;
}

.Desserts-page .products .item-prd .box-item:hover {
  border: 2px solid var(--blackcolor);
  padding: 10px 5px 10px 5px;
}

.Desserts-page .products .item-prd .box-item .img-item {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 30px;
}

.Desserts-page .products .item-prd .box-item .img-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.Desserts-page .products .item-prd .box-item .img-item:hover > img {
  transform: scale(1.2);
}

.Desserts-page .products .item-prd .box-item .shop-card {
  background-color: var(--whitecolor);
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 165px;
  left: 81px;
  transition: all 0.3s;
  text-decoration: none;
  color: var(--blackcolor);
  font-size: 18px;
  border: 1px solid var(--blackcolor);
  font-weight: 400;
}

.Desserts-page .products .item-prd .box-item:hover .shop-card {
  bottom: 175px;
}

.Desserts-page .products .item-prd .box-item .shop-card:hover {
  background-color: orangered;
  color: var(--whitecolor);
  border: none;
}

.Desserts-page .products .item-prd .box-item .content-item {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.Desserts-page .products .item-prd .box-item .content-item .title > span {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
}

.Desserts-page .products .item-prd .box-item .content-item .sub-title > strong {
  font-size: 24px;
  font-weight: 501;
}

.Desserts-page .products .item-prd .box-item .content-item .price > strong {
  font-size: 24px;
  color: orangered;
}

.Desserts-page .order {
  position: relative;
}

.Desserts-page .order .order-box {
  width: 100%;
  max-height: 450px;
  border: 1px solid var(--whitecolor);
  border-radius: 30px;
  background-color: var(--whitecolor);
  position: relative;
  overflow-y: auto;
}

.Desserts-page .order .order-box .title {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 0 20px;
}

.Desserts-page .order .order-box .title > strong {
  color: orangered;
  font-size: 32px;
  font-weight: 601;
}

.Desserts-page .order .order-box .icon-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 5px;
  margin-bottom: 30px;
}

.Desserts-page .order .order-box .icon-order > img {
  width: 220px;
  height: 100%;
}

.Desserts-page .order .order-box .icon-order > span {
  color: var(--blackcolor);
  font-size: 20px;
  font-weight: 401;
  opacity: 0.6;
}

.counter-box {
  background-color: orangered;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 175px;
  left: 120px;
  border: none;
  transition: 0.3s;
}

.counter-box span {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.selected-product {
  border: 3px solid orangered !important;
  padding: 10px !important;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item .info {
  display: flex;
  flex-direction: column;
}

.cart-item .qty {
  color: orangered;
  font-weight: bold;
}

.remove-item {
  cursor: pointer;
  color: red;
  font-size: 22px;
  font-weight: bold;
}

.checkout-btn {
  margin-top: 20px;
  background-color: orangered;
  color: white;
  width: 100%;
  border: none;
  padding: 16px;
  border-radius: 18px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background-color: rgb(255, 77, 0);
}

.checkout-modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.checkout-modal.active {
  display: flex;
}

.checkout-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.checkout-window {
  position: relative;
  z-index: 2;
  width: 650px;
  padding: 0 30px 30px 30px;
  border-radius: 10px;
  background: var(--whitecolor);
  animation: popup 0.2s ease-out;
}

@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close-checkout {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  color: var(--blackcolor);
  transition: all 0.3s;
}

.close-checkout:hover {
  color: red;
}

.checkout-window .icon-confrim {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.checkout-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.checkout-content > h2 {
  margin: 0;
  font-size: 42px;
  color: var(--blackcolor);
  font-weight: 501;
}

.checkout-content > p {
  margin-top: 10px;
  color: var(--blackcolor);
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
}

.checkout-window .list {
  background-color: papayawhip;
  width: 100%;
  max-height: 300px;
  border: 1px solid papayawhip;
  border-radius: 30px;
  position: relative;
  overflow-y: auto;
}

.checkout-window .btn-finaly {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: orangered;
  color: var(--whitecolor);
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-window .btn-finaly:hover {
  filter: brightness(0.8);
}
